body{
}

.myclass {

color: red;
padding-top: 20px;
/*margin-top: 40px;*/
font-size: 48px;
font-family: "GlyphaRoman";
}
/*.dropdown-menu li a:hover {background-color:red;}*/

/* .table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
} */