<div id="search_boxes" class="container">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-10">
				<form>
					<div class="form-group">
						<label for="searchAll">Global Search :</label>
						<input type="text" ng-model="searchAll.$" id="searchAll" class="form-control"/>
					</div>
				</form>
			</div>
			<!-- ng-model="searchAll.client_status" -->
			<div class="col-sm-2">
				<form>
					<div class="form-group">
						  <label for="searchStatus">Select Status :</label>
					      <select class="form-control" id="searchStatus" ng-model="searchAll.client_status">
					        <option>Active</option>
					        <option>Inactive</option>
					      </select>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<form>
					<div class="form-group">
						<label for="searchFirstName">First Name :</label>
						<input type="text" ng-model="searchAll.client_first_name" id="searchFirstName" class="form-control"/>
					</div>
				</form>
			</div>
			<div class="col-sm-6">
				<form>
					<div class="form-group">
						<label for="searchLastName">Last Name :</label>
						<input type="text" ng-model="searchAll.client_last_name" id="searchLastName" class="form-control"/>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<form>
					<div class="form-group">
						<label for="searchEmail">Email :</label>
						<input type="text" ng-model="searchAll.client_email" id="searchEmail" class="form-control"/>
					</div>
				</form>
			</div>
			<div class="col-sm-6">
				<form>
					<div class="form-group">
						<label for="searchDepartment">Department :</label>
						<input type="text" ng-model="searchAll.dept_name" id="searchDepartment" class="form-control"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container">
<div class="table-responsive col-sm-12">
	<table class="table table-hover table-bordered">
		<thead>
			<th>Select</th>
			<th ng-click="sort('client_first_name')">First Name
<!-- 			<span class="glyphicon" ng-show="sortKey=='client_first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> -->
			<span class="glyphicon" ng-show="sortKey=='client_first_name'" ng-class="{'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
			</th>
			<th ng-click="sort('client_last_name')">Last Name
			<span  ng-show="sortKey=='client_last_name'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
			</th>
			<th ng-click="sort('client_email')">Email
			<span class="glyphicon" ng-show="sortKey=='client_email'" ng-class="{'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
			</th>
			<th ng-click="sort('dept_name')">Department/Company
			<span class="glyphicon" ng-show="sortKey=='dept_name'" ng-class="{'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
			</th>
			<th ng-click="sort('client_status')">Status
			<span class="glyphicon" ng-show="sortKey=='client_status'" ng-class="{'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
			</th>
		</thead>
		<tbody>
			<tr dir-paginate="savedClient in ClientList | filter:searchAll | filter:{'client_status':  searchAll.client_status}: true  | orderBy:sortKey:reverse | itemsPerPage: 15 " ng-init="sortKey='client_last_name'">
					<!-- ng-repeat creates a new scope of its own. That's why for ng-model you need to put parent
					ng-value puts the given value in the ng-model
					groupName is to select only one radio button.
				  -->
					<td><input type="radio" name="groupName" ng-model="$parent.selectedClient" ng-checked="false" ng-value="{{savedClient.id}}"></td>
					<td><a href="#/edit_client_info/{{savedClient.id}}">{{savedClient.client_first_name}}</a></td>
					<td><a href="#/edit_client_info/{{savedClient.id}}">{{savedClient.client_last_name}}</a></td>
					<td><a href="#/edit_client_info/{{savedClient.id}}">{{savedClient.client_email}}</a></td>
					<td><a href="#/edit_client_info/{{savedClient.id}}">{{savedClient.dept_name}}</a></td>
					<td><a href="#/edit_client_info/{{savedClient.id}}">{{savedClient.client_status}}</a></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
	<div class="form-group">
		<a class="btn btn-success" ng-href="#/add_client_info">Add New</a>
		<a class="btn btn-success" ng-disabled = "!selectedClient" ng-href="#/start_project/{{selectedClient}}">Start New Project</a>
	</div>
</div>
</div>
