<div client_id="search_boxes" class="container">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-6">
				<form>
					<div class="form-group">
						<label for="searchCropCommonName">Common Name :</label>
						<input type="text" ng-model="searchAll.cropCommonName" client_id="searchCropCommonName" class="form-control"/>
					</div>
				</form>
			</div>
			<div class="col-sm-6">
				<form>
					<div class="form-group">
						<label for="searchCropScientificName">Scientific Name :</label>
						<input type="text" ng-model="searchAll.cropScientificName" client_id="searchCropScientificName" class="form-control"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container">
<div class="table-responsive col-sm-12">
	<table class="table table-hover table-bordered">
		<thead>
			<th>#</th>
			<th ng-click="sort('cropCommonName')">Common Name <!-- <i class="fa fa-fw fa-sort"></i> -->
			<span class="glyphicon" ng-show="sortKey=='cropCommonName'" ng-class="{'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
			</th>
			<th ng-click="sort('cropScientificName')">Scientific Name <!-- ng-class="glyphicon glyphicon-hand-up"  -->
			<span class="glyphicon" ng-show="sortKey=='cropScientificName'"  ng-class="{'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
			</th>
		</thead>
		<tbody>
			<tr dir-paginate="crop in cropList |filter:searchAll| orderBy:sortKey:reverse | itemsPerPage: 10" ng-init="sortKey='cropCommonName'">
				<td><a href="#/edit_crop_info/{{crop.client_id}}">{{crop.client_id}}</a></td>
				<td><a href="#/edit_crop_info/{{crop.client_id}}">{{crop.cropCommonName}}</a></td>
				<td><a href="#/edit_crop_info/{{crop.client_id}}">{{crop.cropScientificName}}</a></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
	
	<div>
      <a class="btn btn-success" ng-href="#/add_crop_info">Add New Crop</a>
  </div>
</div>
</div>
