<div layout="row" layout-fill>
	<md-sidenav
			class="md-sidenav-left"
			md-is-locked-open="true"
			md-whiteframe="16">
		<md-content>
			<md-list flex >
				<md-list-item class="md-secondary" >
					<form>
						<div class="form-group">
							<label for="searchCropCommonName">Common Name :</label>
							<input type="text" ng-model="searchAll.cropCommonName" id="searchCropCommonName" class="form-control"/>
						</div>
					</form>
				</md-list-item>
				<md-list-item class="md-secondary">
					<form>
						<div class="form-group">
							<label for="searchCropScientificName">Scientific Name :</label>
							<input type="text" ng-model="searchAll.cropScientificName" id="searchCropScientificName" class="form-control"/>
						</div>
					</form>
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>
	<div class="container" layout="column" layout-fill>
		<div layout="row" layout-margin>
			<a class="btn btn-success" ng-href="#/add_crop_info">Add New Crop</a>
		</div>
		<div class="table-responsive col-sm-12">
			<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
			<table class="table table-hover table-bordered">
				<thead>
				<th>#</th>
				<th ng-click="sort('cropCommonName')">Common Name <!-- <i class="fa fa-fw fa-sort"></i> -->
					<span class="glyphicon" ng-show="sortKey=='cropCommonName'" ng-class="{'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
				</th>
				<th ng-click="sort('cropScientificName')">Scientific Name <!-- ng-class="glyphicon glyphicon-hand-up"  -->
					<span class="glyphicon" ng-show="sortKey=='cropScientificName'"  ng-class="{'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
				</th>
				</thead>
				<tbody>
				<tr dir-paginate="crop in cropList |filter:searchAll| orderBy:sortKey:reverse | itemsPerPage: 10" ng-init="sortKey='cropCommonName'">
					<td><a href="#/edit_crop_info/{{crop.id}}">{{crop.id}}</a></td>
					<td><a href="#/edit_crop_info/{{crop.id}}">{{crop.cropCommonName}}</a></td>
					<td><a href="#/edit_crop_info/{{crop.id}}">{{crop.cropScientificName}}</a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
