<div client_id="search_boxes" class="container">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-6">
				<form>
					<div class="form-group">
						<label for="searchDepartmentId">Department Id :</label>
						<input type="text" ng-model="searchAll.departmentId" client_id="searchDepartmentId" class="form-control"/>
					</div>
				</form>
			</div>			
			<div class="col-sm-6">
				<form>
					<div class="form-group">
						<label for="searchDepartmentName">Department Name :</label>
						<input type="text" ng-model="searchAll.departmentName" client_id="searchDepartmentName" class="form-control"/>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>
<div class="container">
	<div class="table-responsive col-sm-10">
		<table class="table table-hover table-bordered">
			<thead>
				<th>#</th>
				<th ng-click="sort('departmentId')">Department Id
				<span class="glyphicon" ng-show="sortKey=='departmentId'" ng-class="{'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
				</th>
				<th ng-click="sort('departmentName')">Department Name
				<span class="glyphicon" ng-show="sortKey=='departmentName'" ng-class="{'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
				</th>
			</thead>
			<tbody>
				<tr	dir-paginate="department in departmentList | filter:searchAll | orderBy:sortKey:reverse | itemsPerPage: 10" ng-init="sortKey='departmentName'">
					<td><a href="#/edit_department_info/{{department.client_id}}">{{department.client_id}}</a></td>
					<td><a href="#/edit_department_info/{{department.client_id}}">{{department.departmentId}}</a></td>
					<td><a href="#/edit_department_info/{{department.client_id}}">{{department.departmentName}}</a></td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls boundary-links="true"
			on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
		<div>
			<a class="btn btn-success" ng-href="#/add_department_info">Add
				New Department</a>
		</div>
	</div>
</div>
