<div layout="row" layout-align="center center" layout-fill layout-margin>
    <div layout-alight="left center">
        <h3>Select a Quarter to List Projects and Invoice Selection</h3>
    </div>
    <div layout-align="center center">
        <select class="form-control"  ng-init="selectedQuarter = financialQuarters[0]" ng-model="selectedQuarter" ng-options="x as x.name for x in financialQuarters">
        </select>
    </div>
    <div layout-aligh="right center">
        <button ng-click="getActiveClients()" class="btn btn-default">List Projects</button>
    </div>
</div>

<div class="container" ng-show="showProjectForInvoiceTable">
    <div class="table-responsive col-sm-12">
        <h3>Projects available for invoicing: {{projectList.length}}</h3>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
        <table class="table table-hover table-bordered" >
            <thead>
            <th>Invoice
                <input type="checkbox"
                       ng-model="selectAllProjectsForInvoice"
                       ng-click="checkAllProjectsForInvoice()"

                />

            </th>
            <th ng-click="sort('cropCommonName')">#
                <span  ng-show="sortKey=='id'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('project_id')">Project Id
                <span  ng-show="sortKey=='project_id'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('project_Title')">Project Title
                <span  ng-show="sortKey=='project_Title'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('client.client_first_name')">First Name
                <span  ng-show="sortKey=='client.client_first_name'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('client.client_last_name')">Last Name
                <span  ng-show="sortKey=='client.client_last_name'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('startDate')">Start Date
                <span  ng-show="sortKey=='startDate'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('endDate')">End Date
                <span  ng-show="sortKey=='endDate'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('lastBillDate')">Last Invoice Date
                <span  ng-show="sortKey=='lastBillDate'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('currentBill')">Current Bill
                <span  ng-show="sortKey=='currentBill'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('projectStatus')">Project Status
                <span  ng-show="sortKey=='projectStatus'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            </thead>
            <tbody>
            <tr dir-paginate="project in projectList | filter:searchAll | orderBy:sortKey:reverse | itemsPerPage: 10">
                <td><input type="checkbox"
                           name="groupName"
                           ng-model="project.selected"
                           ng-checked="false"
                           ng-click="selectProjectForInvoice()"
                /></td>
                <td><a href="#/track_project/{{project.id}}">{{project.id}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.project_id}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.project_Title}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.client.client_first_name}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.client.client_last_name}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.startDate | date:'MMM d, y'}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.endDate | date:'MMM d, y'}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.lastBillDate | date:'MMM d, y'}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.currentBill | currency}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.projectStatus}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <button ng-disabled = "!aleastOneProjectSelected"
            ng-click="invoiceSelectedProjects()"
            class="btn btn-success"
    >INVOICE</button>
</div>

<div class="container" ng-show="showInvoicedProjects">
    <div class="table-responsive col-sm-12">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
        <table class="table table-hover table-bordered" >
            <h3>Projects invoiced: {{invoicedProjectList.length}}</h3>
            <thead>
            <th ng-click="sort('cropCommonName')">#
                <span  ng-show="sortKey=='id'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('project_id')">Project Id
                <span  ng-show="sortKey=='projectId'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('invoice_id')">Invoice Id
                <span  ng-show="sortKey=='invoice_id'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('invoice_id')">Bill Start Date
                <span  ng-show="sortKey=='billing_start_date'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('invoice_id')">Bill End Date
                <span  ng-show="sortKey=='billing_end_date'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>

            <th ng-click="sort('generationDate')">Invoice Generation Date
                <span  ng-show="sortKey=='generationDate'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('prev_balance')">Previous Balance
                <span  ng-show="sortKey=='prev_balance'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('current_bill')">Current Bill
                <span  ng-show="sortKey=='current_bill'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            <th ng-click="sort('total_due')">Total Due
                <span  ng-show="sortKey=='total_due'" ng-class="{'glyphicon':true ,'glyphicon-hand-up':reverse,'glyphicon-hand-down':!reverse}"></span>
            </th>
            </thead>
            <tbody>
            <tr dir-paginate="project in invoicedProjectList | filter:searchAll | orderBy:sortKey:reverse | itemsPerPage: 10">
                <td><a href="#/track_project/{{project.id}}">{{project.id}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.projectId}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.invoice_id}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.billing_start_date}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.billing_end_date}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.generationDate}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.prev_balance}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.current_bill}}</a></td>
                <td><a href="#/track_project/{{project.id}}">{{project.total_due}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>