<div layout="column">
	<h2 layout="row" layout-align="center start" class="md-title">Client Information</h2>
	<md-grid-list
			md-cols="2"
			md-row-height="15px"
			md-gutter="12px">
		<md-grid-tile>
			<div layout="row" layout-align="start start">
				<label>First Name: </label>
				<span>{{project_form.client.client_first_name}}</span>
			</div>
		</md-grid-tile>
		<md-grid-tile>
			<div layout="row" layout-align="start start">
				<label>Last Name: </label>
				<span>{{project_form.client.client_last_name}}</span>
			</div>
		</md-grid-tile>
		<md-grid-tile>
			<div layout="row" layout-align="start start">
				<label>Email:</label>
				<span>{{project_form.client.client_email}}</span>
			</div>
		</md-grid-tile>
		<md-grid-tile>
			<div layout="row" layout-align="start start">
				<label>Department:</label>
				<span>{{project_form.client.dept_name}}</span>
			</div>
		</md-grid-tile>
		<md-grid-tile>
			<div layout="row" layout-align="start start">
				<label>Phone: </label>
				<span>{{project_form.client.client_phone}}</span>
			</div>
		</md-grid-tile>
		<md-grid-tile>
			<div layout="row" layout-align="start start">
				<label>Address:</label>
				<span>{{project_form.client.client_address}}</span>
			</div>
		</md-grid-tile>
	</md-grid-list>

	<md-divider></md-divider>

	<form class="form-horizontal" name="ProjectInfoForm" role="form"
		  ng-submit="ProjectInfoForm.$valid && submit()">
		<div class="form-group">
			<label for="project_id" class="col-sm-2 control-label">Project
				Id</label>
			<div class="col-sm-8">
				<input type="name" class="form-control" id="project_id"
					   ng-model="project_form.project_id"
					   placeholder="Enter the Project Id" required>
			</div>
		</div>
		<div class="form-group">
			<label for="project_Title" class="col-sm-2 control-label">Project
				Title</label>
			<div class="col-sm-8">
				<input type="name" class="form-control" id="project_Title"
					   ng-model="project_form.project_Title"
					   placeholder="Enter the Project Title">
			</div>
		</div>
		<div class="form-group">
			<label for="rateType" class="col-sm-2 control-label">Rate
				Type: </label>
			<div class="col-sm-2">
				<select class="form-control" ng-model="project_form.rateValue"
						ng-options="x.rateType for x in rates" required>
				</select>
			</div>

			<div class="col-sm-4">
				<label for="rate" class="col-sm-4 control-label">Rate:
					{{project_form.rateValue.rate | currency}}</label>
				<!-- <span for="rate">{{project_form.rateValue.rate}}</span> -->
			</div>
		</div>
		<div class="form-group">
			<label for="acc_number" class="col-sm-2 control-label">Account
				Number</label>
			<div class="col-sm-8">
				<input type="name" class="form-control" id="acc_number"
					   ng-model="project_form.acc_number"
					   placeholder="Enter the account number">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="projectStartDate">Project Start Date</label>
			<div class="col-sm-3">
				<md-datepicker ng-model="startDate" md-placeholder="Project End Date" id="projectEndDate"></md-datepicker>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="projectEndDate">Project End Date</label>
			<div class="col-sm-3">
				<md-datepicker ng-model="endDate" md-placeholder="Project End Date" id="projectEndDate"></md-datepicker>
			</div>
		</div>

		<md-divider></md-divider>

		<div class="form-group">
			<label for="chambers" class="col-sm-2 control-label">Chambers</label>
			<div class="col-sm-2">
				<select class="form-control" ng-model="selectedChamber" id="chambers"
						ng-options="x.chamberName for x in chambers">
					<option value="" disabled selected>Chamber Type</option>
				</select>
			</div>
			<div class="col-sm-2">
				<button type="button" ng-click="addChamberRow()"
						class="btn btn-default addButton">Add Chamber</button>
			</div>
		</div>
		<div class="form-group">
			<div class="table-responsive col-sm-8 col-sm-push-2">
				<table class="table table-hover table-bordered">
					<thead>
					<th>Chamber Name</th>
					<th>Carts</th>
					<th>Allocation Date</th>
					<th>Deallocation Date</th>
					<th>Action</th>
					</thead>

					<tbody>
					<tr ng-repeat="chamber in project_form.chambers">
						<td>{{chamber.chamberName}}</td>
						<td>
							<input type="number" class="form-control"
								   ng-model="chamber.allocatedCarts"
								   placeholder="Enter the number of carts">
						</td>
						<td>
							<md-datepicker ng-model="chamber.allocationDate" md-placeholder="Allocation date"></md-datepicker>
						</td>
						<td>
							<md-datepicker ng-model="chamber.deallocationDate" md-placeholder="Deallocation date"></md-datepicker>
						</td>
						<td><input type="button" value="Remove"
								   class="btn btn-primary" ng-click="removeRow($index)" /></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<md-divider></md-divider>


		<!--START RESOURCES VIEW-->
		<div class="form-group" >
			<label for="carts" class="col-sm-2 control-label">Additional Resources</label>
			<div class="col-sm-2">
				<md-switch ng-model="project_form.requiresAdditionalResources"
						   aria-label="Requires Additional Resources"
						   ng-disabled="project_form.projectResourceMappingList.length>0"
				</md-switch>
			</div>
		</div>
		<div ng-show="project_form.requiresAdditionalResources">
			<div class="form-group">
				<label for="resources" class="col-sm-2 control-label">Resources</label>
				<div class="col-sm-2">
					<select class="form-control" ng-model="selectedResource" ng-change="updateCurrentResourceNameId()" id="resources"
							ng-options="x as x.resourceName for x in resourceList">
						<option value="" disabled selected>Resource Name</option>
					</select>
				</div>
				<div class="col-sm-2">
					<button type="button" ng-click="addResourceRow()"
							class="btn btn-default addButton">Add Resource</button>
				</div>
			</div>
			<div class="table-responsive col-sm-10 col-sm-push-2">
				<table class="table table-hover table-bordered">
					<thead>
					<th>Name/Unit</th>
					<th>Description</th>
					<th>Unit Rate</th>
					<th>Units Consumed</th>
					<th>Allocation Date</th>
					<th>Deallocation Date</th>
					<th>Comments</th>
					<th>Action</th>
					</thead>

					<tbody>
					<tr ng-repeat="resource in project_form.projectResourceMappingList">
						<td>{{resource.resourceName +"/"+resource.resourceUnitType}}</td>
						<td>
							<input type="name" class="form-control" id="resource_Description"
								   ng-model="resource.resourceDescription"
								   placeholder="Enter Resource Use Description">
						</td>
						<td>
							<input type="number" class="form-control" id="resource_Rate"
								   ng-model="resource.rate"
								   placeholder="Enter Resource Unit Rate">
						</td>
						<td>
							<input type="number" class="form-control" id="resource_Units_Consumed"
								   ng-model="resource.unitsConsumed"
								   placeholder="Enter Units Consumed">
						</td>
						<td>
							<md-datepicker ng-model="resource.allocationDate" md-placeholder="Allocation date"></md-datepicker>
						</td>
						<td>
							<md-datepicker ng-model="resource.deallocationDate" md-placeholder="Allocation date"></md-datepicker>
						</td>
						<td>
							<input type="text"
								   ng-model="resource.comments"
								   placeholder="Enter Comments">
						</td>
						<td><input type="button" value="Remove"
								   class="btn btn-primary" ng-click="removeResourceRow($index)" /></td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="form-group">

			</div>
		</div>
		<!--END OF RESOURCES VIEW-->
		<md-divider></md-divider>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-8">
				<button type="submit" class="btn btn-default">Save</button>
				<a class="btn btn-default" ng-href="#/client_list">Go Back</a>
			</div>
		</div>
	</form>
</div>

<div ng-show="showAlertMessage" id="alert_placeholder"
	class="col-sm-offset-2 col-sm-8">
	<div ng-class="savedSuccessfully ? 'alert-success' : 'alert-danger'"
		class="alert alert-dismissable fade in">
		<a class="close" data-dismiss="alert">&times;</a> <span>{{message}}</span>
	</br>
	<span>{{exceptionMessage}}</span>
	</div>
</div>
