<div class = "header">
  <h3 align="center">Client Information</h3>
  <div id = "container" class="col-sm-12">
      <div class = "adjacentPanels col-sm-2"></div>
      <div class = "adjacentPanels col-sm-4">
        <div class="form-group">
          <label for="Name" class="control-label">Name: </label>
          <span for="Name" class = "fields">{{usage_form.client.project_client_name}}</span>
        </div>
        <div class="form-group">
          <label for="email" class="control-label">Email:</label>
          <span for="email" class = "fields">{{usage_form.client.project_client_email}}</span>
        </div>
      </div>
      <div class = "adjacentPanels col-sm-4">
        <div class="form-group">
          <label for="department" class="control-label">Department:</label>
          <span for="department" class = "fields">{{usage_form.client.dept_name}}</span>
        </div>
        <div class="form-group">
          <label for="address" class="control-label">Address:</label>
          <span for="address" class = "fields">{{usage_form.client.address}}</span>
        </div>
      </div>
  </div>
</div>


<form class="form-horizontal" name="ProjectInfoForm" role = "form" ng-submit = "ProjectInfoForm.$valid">
  <div class="form-group">
    <label for="project_name" class="col-sm-2 control-label">Project Name</label>
    <div class="col-sm-8">
      <input type="name" class="form-control" id="project_name" ng-model="usage_form.project_name" placeholder="Enter the Project Name">
    </div>
  </div>
  <div class="form-group">
    <label for="rate" class="col-sm-2 control-label">Rate</label>
    <div class="col-sm-2">
      <input type="number" class="form-control" id="rate" ng-model="usage_form.rate" placeholder="Enter the rate">
    </div>
  </div>
  <div class="form-group">
    <label for="acc_number" class="col-sm-2 control-label">Account Number</label>
    <div class="col-sm-8">
      <input type="name" class="form-control" id="acc_number" ng-model= "usage_form.acc_number" placeholder="Enter the account number">
    </div>
  </div>
  <div class="form-group">
    <label for="chambers" class="col-sm-2 control-label">Chambers</label>
    <div class="col-sm-8">
      <input type="name" class="form-control" id="chambers" ng-model= "usage_form.chambers" placeholder="Enter the chambers associated with this project, separated by commas">
    </div>
  </div>
  <div class="form-group">
    <label for="carts" class="col-sm-2 control-label">Carts</label>
    <div class="col-sm-2">
      <input type="number" class="form-control" id="carts" ng-model= "usage_form.carts" placeholder="Enter the number of carts">
    </div>
  </div>
  <!-- Missing CROP in MODELS and Controllers.
  <div class="form-group">
    <label for="crop" class="col-sm-2 control-label">Crop(s)</label>
    <div class="col-sm-8">
      <input type="name" class="form-control" id="carts" ng-model= "project_form.carts" placeholder="Enter the number of carts">
    </div>
  </div> -->
  <!-- <div class="form-group">
    <div flex-gt-xs>
        <label for="startDate" class="col-sm-2 control-label">Start Date</label>
        <md-datepicker ng-model="project_form.startDate" md-placeholder="Enter date"></md-datepicker>
    </div>
  </div> -->
  <div class="form-group">
    <label for="startDate" class="col-sm-2 control-label">Start Date</label>
    <div class="col-sm-2">
      <input type="date" class="form-control" id="startDate" ng-model= "usage_form.startDate">
    </div>
  </div>
  <div class="form-group">
    <label for="endDate" class="col-sm-2 control-label">End Date</label>
    <div class="col-sm-2">
      <input type="date" class="form-control" id="endDate" ng-model= "usage_form.endDate">
    </div>
  </div>

  <div class="form-group">
    <label for="lastBillDate" class="col-sm-2 control-label">Last Bill Generated Date: </label>
    <span for="Name" class = "fields">{{usage_form.lastBillDate | date:'MM/dd/yyyy'}}</span>
  </div>

  <div class="form-group">
    <label for="generateBill" class="col-sm-2 control-label">Generate Bill</label>
    <div class="col-sm-2">
      <input type="date" class="form-control" ng-model= "generateBillDate.date">
    </div>
    <button ng-click="generate()" class="btn btn-default">Generate</button>
  </div>

  <div class="form-group">
    <label for="currentBill" class="col-sm-2 control-label">Current Bill: </label>
    <span for="Name" class = "fields">{{usage_form.currentBill}}</span>
  </div>


  <div class="form-group">
    <label for="payBill" class="col-sm-2 control-label">Pay Bill</label>
    <div class="col-sm-2">
      <input type="Number" class="form-control" ng-model= "pay_amount">
    </div>
    <button ng-click="pay()" class="btn btn-default">Pay</button>
  </div>


  <div class="form-group">
    <label for="billPaidTotal" class="col-sm-2 control-label">Bill Paid Total:</label>
    <span for="Name" class = "fields">{{usage_form.billPaidTotal}}</span>
  </div>

  <div class="form-group">
    <label for="lastBillDate" class="col-sm-2 control-label">Last Bill Date: </label>
    <span for="Name" class = "fields">{{usage_form.lastBillPaidDate | date:'MM/dd/yyyy'}}</span>
  </div>

  <!-- <div class="form-group">
    <label for="accountStatus" class="col-sm-2 control-label">Account Status</label>
    <span for="Name" class = "fields">{{usage_form.accountStatus}}</span>
  </div> -->

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button ng-click="save()" class="btn btn-default">Save</button>
      <a class="btn btn-default" ng-href="#/usage_list">Go Back</a>
    </div>
  </div>

</form>
