body{
}

.myclass {

color: red;
padding-top: 20px;
/*margin-top: 40px;*/
font-size: 48px;
font-family: "GlyphaRoman";
}
/*.dropdown-menu li a:hover {background-color:red;}*/

/* .table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
} */

.fields {
  padding: 0 10px;
}
#container {
  overflow: auto;
  padding: 0;
}
.header {
  position:relative;
  overflow:auto;
  padding: 0 0 20px 0;
}

.adjacentPanels {
  float: left;
  padding: 0 !important;
}

.ncstate-utility-bar-options {
  display: none;
}

#dir-pagination-controls{
	float: right;
}
