
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url(../fonts/glyphicons-halflings-regular.eot);
	src: url(../fonts/glyphicons-halflings-regular.eot?#iefix)
		format('embedded-opentype'),
		url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),
		url(../fonts/glyphicons-halflings-regular.woff) format('woff'),
		url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),
		url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular)
		format('svg')
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
table th{
    cursor: pointer;
}

.glyphicon-chevron-left:before {
	content: "\e079"
}

.glyphicon-chevron-right:before {
	content: "\e080"
}


.glyphicon-chevron-up:before {
	content: "\e113"
}

.glyphicon-chevron-down:before {
	content: "\e114"
}

.glyphicon-hand-right:before {
	content: "\e127"
}

.glyphicon-hand-left:before {
	content: "\e128"
}

.glyphicon-hand-up:before {
	content: "\e129"
}

.glyphicon-hand-down:before {
	content: "\e130"
}


.myclass {

color: red;
padding-top: 20px;
/*margin-top: 40px;*/
font-size: 48px;
font-family: "GlyphaRoman";
}
/*.dropdown-menu li a:hover {background-color:red;}*/

/* .table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
} */

.fields {
  padding: 0 10px;
}
#container {
  overflow: auto;
  padding: 0;
}
.header {
  position:relative;
  overflow:auto;
  padding: 0 0 20px 0;
}

.adjacentPanels {
  float: left;
  padding: 0 !important;
}

.ncstate-utility-bar-options {
  display: none;
}

dir-pagination-controls{
	float: right;
}


/* 
.nav{
	float: left;
	margin-left: 0;
	padding-left: 0;
}
.navbar{
	float: left;
	margin-left: 0;
	padding-left: 0;
} */