<div class="table-responsive col-sm-10">
	<table class="table table-hover table-bordered">
		<thead>
			<th>#</th>
			<th>Project Name</th>
			<th>PI Name/ Organization Name</th>
			<th>Department</th>
			<th>Rate</th>
		</thead>
		<tbody>
			<tr ng-repeat="savedInfo in BillList">
					<td><a href="#/edit_billing_info/{{savedInfo.id}}">{{savedInfo.id}}</a></td>
					<td><a href="#/edit_billing_info/{{savedInfo.id}}">{{savedInfo.project_name}}</a></td>
					<td><a href="#/edit_billing_info/{{savedInfo.id}}">{{savedInfo.project_user_name}}</a></td>
					<td><a href="#/edit_billing_info/{{savedInfo.id}}">{{savedInfo.dept_name}}</a></td>
					<td><a href="#/edit_billing_info/{{savedInfo.id}}">{{savedInfo.bill_rate}}</a></td>
			</tr>
		</tbody>
	</table>

	<div>
		<a class="btn btn-success" ng-href="#/add_billing_info">Add New</a>
	</div>
</div>
