<div class="table-responsive col-sm-10">
	<table class="table table-hover table-bordered">
		<thead>
			<th>#</th>
			<th>Client Name</th>
			<th>Client Email</th>
			<th>Department</th>
		</thead>
		<tbody>
			<tr ng-repeat="savedClient in ClientList">
					<td><a href="#/edit_client_info/{{savedClient.id}}">{{savedClient.id}}</a></td>
					<td><a href="#/edit_client_info/{{savedClient.id}}">{{savedClient.project_client_name}}</a></td>
					<td><a href="#/edit_client_info/{{savedClient.id}}">{{savedClient.project_client_email}}</a></td>
					<td><a href="#/edit_client_info/{{savedClient.id}}">{{savedClient.dept_name}}</a></td>
			</tr>
		</tbody>
	</table>

	<div>
		<a class="btn btn-success" ng-href="#/add_client_info">Add New</a>
	</div>
</div>
