<div class="table-responsive col-sm-10">
	<table class="table table-hover table-bordered">
		<thead>
			<th>#</th>
			<th>Department Id</th>
			<th>Department Name</th>
		</thead>
		<tbody>
			<tr ng-repeat="department in departmentList">
				<td><a href="#/edit_department_info/{{department.id}}">{{department.id}}</a></td>
				<td><a href="#/edit_department_info/{{department.id}}">{{department.departmentId}}</a></td>
				<td><a href="#/edit_department_info/{{department.id}}">{{department.departmentName}}</a></td>
			</tr>
		</tbody>
	</table>
	<div>
      <a class="btn btn-success" ng-href="#/add_department_info">Add New Department</a>
  </div>

</div>
